/*reset option*/

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'poppins', sans-serif;
}

.flexbox{
    display: flex;
}

.fl-column{
    display: flex;
    flex-direction: column;
}

.relative-image{
    position: relative;
}

a{
    text-decoration: none;
    color: inherit;
}

header{
    background-color: #ff6900;
    padding: .8rem 0;
    color: white;
}

.logo img{
    height: 1rem;
}

nav{
    height: 100%
}

.container{
    height: 100%;
    padding: 0 12%;
    justify-content: space-between;
    align-items: center;
}

main{
    padding: 70px 0;
}

.cards-row{
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10%;
}

.product{
    width: 32%;
}

.product img{
    width: 100%;
}

.favourite{
    position: absolute;
    top: 2%;
    right: 0;
    background-color: white;
    font-size: 1.5rem;
    padding: 0 1rem;
}

.ticket-container{
    position: absolute;
    bottom: 10%;
    color: white;
    font-weight: bold;
}

.percentual-sale{
    display: inline-block;
    font-size: .8rem;
    background-color: red;
    padding: .2rem .5rem;
}

.sustainability{
    display: inline-block;
    font-size: .8rem;
    background-color: #008000;
    padding: .2rem .5rem;
}



.brand{
    font-size: .8rem;
}

.name{
    font-size: 1rem;
    text-transform: uppercase;
}

.sale{
    color: red;
    font-size: .8rem;
    font-weight: bold;
}

.price{
    text-decoration: line-through;
    font-size: .8rem;
}

footer{
    font-size: .7rem;
    color: white;
    background-color: #1a1a1a;
    padding: 1rem 0;
}

.reference{
    width: 35%;
}

.reference nav{
    margin-top: 1rem;
    justify-content: space-between;
}

.contacts nav{
    justify-content: space-between;
    padding-top: .3rem;
}

.contacts img{
    height: 20px;
}