/*reset option*/

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'poppins', sans-serif;
}

.flexbox{
    display: flex;
}

.relative{
    position: relative;
}

a{
    text-decoration: none;
    color: inherit;
}

header{
    background-color: #ff6900;
    padding: .8rem 0;
    color: white;
}

.logo img{
    height: 1rem;
}

nav{
    height: 100%
}

.container{
    height: 100%;
    padding: 0 12%;
    justify-content: space-between;
    align-items: center;
}

main{
    padding: 70px 0;
}

.cards-row{
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10%;
}

.product{
    width: 32%;
}

.product img{
    width: 100%;
}

.favourite{
    position: absolute;
    top: 2%;
    right: 0;
    background-color: white;
    font-size: 1.5rem;
    padding: 0 1rem;
}

.brand{
    font-size: .8rem;
}

.name{
    font-size: 1rem;
    text-transform: uppercase;
}

.sale{
    color: red;
    font-size: .8rem;
}

.price{
    text-decoration: line-through;
    font-size: .8rem;
}

footer{
    height: 70px;
    background-color: #1a1a1a;
}

.reference{
    height: 50px;
    width: 150px;
    background-color: aqua;
}

.contacts{
    height: 50px;
    width: 150px;
    background-color: aqua;
}