/*reset option*/

*{
    padding: 0;
    margin: 0;
}

.flexbox{
    display: flex;
}

header{
    height: 50px;
    background-color: #ff6900;
}

.logo{
    height: 30px;
    width: 100px;
    background-color: blueviolet;
}

nav{
    height: 30px;
    width: 100px;
    background-color: aqua;
}

.container{
    height: 100%;
    padding: 0 15%;
    justify-content: space-between;
    align-items: center;
}

main{
    padding: 70px 0;
}

.cards-row{
    justify-content: space-between;
    height: 270px;
    width: 100%;
    background-color: wheat;
    margin-bottom: 10%;
}

.product{
    width: 30%;
    height: 100%;
    background-color: aquamarine;
}

footer{
    height: 70px;
    background-color: #1a1a1a;
}

.reference{
    height: 50px;
    width: 150px;
    background-color: aqua;
}

.contacts{
    height: 50px;
    width: 150px;
    background-color: aqua;
}